/*@media only screen and (max-width: 767px){
  .videobg{
    display:none;
  }
}

@media only screen and (min-width: 768px){
  #banner{
    display:none;
  }
}
*/
.videobg {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.videobg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videobg .container {
  position: relative;
  z-index: 2;
}

#banner::after{
  background-color: #000!important;
  opacity:0.5!important;
}

.vsc-controller{
  display: none;
}
