/*@media only screen and (max-width: 767px){
  .videobg{
    display:none;
  }
}

@media only screen and (min-width: 768px){
  #banner{
    display:none;
  }
}
*/
.videobg {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.videobg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videobg .container {
  position: relative;
  z-index: 2;
}

.videobg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


.videobg:after {
 -moz-transition:opacity 2.5s ease;
 -webkit-transition:opacity 2.5s ease;
 -ms-transition:opacity 2.5s ease;
 transition:opacity 2.5s ease;
 -moz-transition-delay:0.75s;
 -webkit-transition-delay:0.75s;
 -ms-transition-delay:0.75s;
 transition-delay:0.75s;
 -moz-pointer-events:none;
 -webkit-pointer-events:none;
 -ms-pointer-events:none;
 pointer-events:none;
 background-color:#242943;
 content:'';
 display:block;
 height:100%;
 left:0;
 opacity:0.85;
 position:absolute;
 top:0;
 width:100%;
 z-index:1
}
.videobg h1 {
 font-size:3.25em
}
.videobg>.inner {
 -moz-transition:opacity 1.5s ease,-moz-transform 0.5s ease-out,-moz-filter 0.5s ease,-webkit-filter 0.5s ease;
 -webkit-transition:opacity 1.5s ease,-webkit-transform 0.5s ease-out,-webkit-filter 0.5s ease,-webkit-filter 0.5s ease;
 -ms-transition:opacity 1.5s ease,-ms-transform 0.5s ease-out,-ms-filter 0.5s ease,-webkit-filter 0.5s ease;
 transition:opacity 1.5s ease,transform 0.5s ease-out,filter 0.5s ease,-webkit-filter 0.5s ease;
 padding:0 !important;
 position:relative;
 z-index:2
}
.videobg>.inner .image {
 display:none
}
.videobg>.inner header {
 width:auto
}
.videobg>.inner header>:first-child {
 width:auto
}
.videobg>.inner header>:first-child:after {
 max-width:100%
}
.videobg>.inner .content {
 display:-moz-flex;
 display:-webkit-flex;
 display:-ms-flex;
 display:flex;
 -moz-align-items:center;
 -webkit-align-items:center;
 -ms-align-items:center;
 align-items:center;
 margin:0 0 2em 0
}
.videobg>.inner .content>* {
 margin-left:1.5em;
 margin-bottom:0
}
.videobg>.inner .content>:first-child {
 margin-left:0
}
.videobg>.inner .content p {
 font-size:0.7em;
 font-weight:600;
 letter-spacing:.25em;
 text-transform:uppercase
}
.videobg.major {
 height:75vh;
 min-height:30em;
 max-height:50em
}
.videobg.major.alt {
 opacity:0.75
}
.videobg.style1:after {
 background-color:#6fc3df
}
.videobg.style2:after {
 background-color:#8d82c4
}
.videobg.style3:after {
 background-color:#ec8d81
}
.videobg.style4:after {
 background-color:#e7b788
}
.videobg.style5:after {
 background-color:#8ea9e8
}
.videobg.style6:after {
 background-color:#87c5a4
}