<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
<!--     <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section> -->

    <section id="banner" class="videobg">
        <div class="inner" style="text-align: center;">
            <header class="major">
                <h1>{{ page.home-title }}</h1>
            </header>
            <div class="content" style="display: block;">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
            <div class="content" style="display: block; padding-top: 1em;">
                <a href="#" class="icon fa-play"></a>
            </div>
        </div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4%2FFree-Cows.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=coverr-183014%40appspot.gserviceaccount.com%2F20191001%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20191001T222056Z&X-Goog-Expires=300&X-Goog-SignedHeaders=host&X-Goog-Signature=9801ebc2162b801d66285648897c4e2830a38d4beb75bc046a5642dbc1c1c5dcdc508f92c8c255a9cd76cb48855892e9cb7ea39cf28a58461895d66976f07fa1bfe390c3b0be7ee91f9817944fba11275ee1e35cae31264dfa4610a50cd58d9fa75e313a379be9a58a7d8f1c935db830772beff7800f6b20550e33c370e5f0c1be6366b3dceb20d00059a20f313e74252250369adae391bf86058e095edf33a87463e32ddb232e87055439c05180bd3d95b8b42194c450748f8821fec8dbf893c94ebdcdb96a34277bc0e22c3acd9b41b2e972e6ab1a1ae21f0820f8b412e410f4897f8b50b67d6b96084089fa11d2aff29c70f819c8e872f523e5069162adea" type="video/mp4">
        </video>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Massa libero</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="atest.html" class="button next">Go to a place</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
