<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
<!--     <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section> -->

    <section id="banner" class="videobg">
        <div class="inner" style="text-align: center;">
            <header class="major">
                <h1>{{ page.home-title }}</h1>
            </header>
            <div class="content" style="display: block;">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
            <div class="content" style="display: block; padding-top: 1em;">
                <a href="#" class="icon fa-play"></a>
            </div>
        </div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4%2FA-moment.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=coverr-183014%40appspot.gserviceaccount.com%2F20191001%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20191001T221743Z&X-Goog-Expires=301&X-Goog-SignedHeaders=host&X-Goog-Signature=8fbcf459efbd58870639a3e0c98577d5f4f5d91030837708be291cab299a9bfe1c978d3e597d35b8c33911208021e4fc7b8350de6c769a9749d7d8c83653c847312b950be5ef2544421b5537dd8783b5fee99eb62f69aea0c790720a55d2988a78256e013921e641d2c82683961fa6ea2216a6562291d6ad3be5bb95f45d7f02d00d9d9e8441b7d9aaa74edc2a4929ad8230602c65128002f2438a03d3d1b803513ecb04c847ac61f8651a175ec9e2894a603bd0193b8051250223b10a436de96ad10697bf35c0cc733bbc0a7c5d244947b309e69ad116061ccb7a14f1b0f850490ff83120f963f53b3bf5a6c4978cbb86991341d53d7c74c18e86646d2d8e44" type="video/mp4">
        </video>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Massa libero</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="atest.html" class="button next">Go to a place</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
