<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
<!--     <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section> -->

    <section id="banner" class="videobg">
        <div class="inner" style="text-align: center;">
            <header class="major">
                <h1>{{ page.home-title }}</h1>
            </header>
            <div class="content" style="display: block;">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
            <div class="content" style="display: block; padding-top: 1em;">
                <a href="#" class="icon fa-play"></a>
            </div>
        </div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4%2FRolling-horse.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=coverr-183014%40appspot.gserviceaccount.com%2F20191001%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20191001T222251Z&X-Goog-Expires=300&X-Goog-SignedHeaders=host&X-Goog-Signature=91cf9bbfae10514d1dd1241bb6de374d967b98c0b43a915f043a58e23f3bbab33b119a2d6a0ef6b911ca97ef8574d05f20258286d6ea82f81460305fce1a278feb8b971befbaadea086edd48f21518d4121256727fd1394c519aea9d62ca8368e9616101acfb7ad9abc0f809afbf9cd965c075ed0e0ac371f0b02b43861c158e3538ec7c2eb0e2ed0f517884d1dc16d41b1370559a1586a219085135440a671a07a60093444970640d42883770ce4d35309f43c6a131d0d55916c7a5d3c0fef628634aaf9d95c04a4500f56325660a9d83a4f313214e172a9ed05d66d814cc44cbcd9f4ffb55cae35f301a5d8ae329c395b82122aa5122c7f5b06e4b7d8e4b0c" type="video/mp4">
        </video>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Massa libero</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="atest.html" class="button next">Go to a place</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
